 <div class="container">
	<div class="page-header change">
		<img id="indexLogo" src="{{ url_for('static', filename = 'img/logo.png') }}">
		<h1>Государственная Служба Безопасности<br>
			<small>
				не очень официальный сайт
			</small>
		</h1>
	</div>
	<p>Добро Пожаловать на сайт Государственной Службы Безопасности! Мы знали, что вы придёте.</p>
	<p>Вы можете подробнее узнать о наших предложениях, нажав на кнопку ниже:</p><br>
	<p><a href="#" class="redirectButton btn btn-primary" link="/offers">Больше</a></p> 
	<br><p><small>К слову, эта странице выполнена с помощью включения шаблонов.</small></p>		
</div>