/* HEADER */
#navBarBrand {
    color: darkblue;
    padding-left: 0px;
}


#navBar .container {
    margin-left: 5% !important;
    /*margin-right: 50% !important;*/
    width: 90vw; /* 93 - margin-left/2 c округл. вверх */
}

/* CONTENT */
.page-header.change {
    margin-top: -1em;
}

#infoMap {
    text-align: right;
    float: right;
}

#indexLogo {
    display: block;
    float: right;
    width: 20vw;
}

/* FOOTER */
#main_footer {
    font-size: 8pt;
    display: block;
    margin-top: 1em;
    padding-top: 1em;
    color: gray;
    border-top: 1px solid rgb(235, 235, 235);
    text-align: right;
}

#lecturer-preview {
    
}